spring:
  application:
    name: portfolio
  mail:
    host: smtp.gmail.com
    port: 465
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: false
          ssl:
            enable: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
app:
  contact:
    email: ${MAIL_EMAIL}
  cors:
    allowed-origins:
      - https://mihanportfolio.vercel.app
      - http://localhost:5173
    allowed-methods:
      - POST
    allowed-headers:
      - "*"
    allow-credentials: true

server:
  port: ${PORT:8080}

api:
  brevo:
    base-url: https://api.brevo.com/v3
    api-key: ${BREVO_API_KEY}
